body {
    background-image: radial-gradient(azure, rgb(126, 126, 226));
}

p {
    font-family: sans-serif;
}

h1 {
    color: rgb(163, 214, 241);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: serif;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(43, 42, 42);
}

a {
    text-decoration: none;
    color: #4242EA;
}

a:focus-within {
    color: rgb(3, 25, 25);
}

ul {
    list-style: none;  
}

li {
    padding-top: 5px;
}

footer span {
    font-weight: 700;
}

.weather p {
    font-size: 40px;
    text-align: center;
}

.above-the-fold article {
    display: inline-block;
}

.weather {
    width: 300px;
    border: 2px solid gray;
    background-image: linear-gradient(red, yellow);
}

.breaking-news {
    padding: 0 30px;
}

.breaking-news img {
    width: 200px;
}

.click-bait article {
    display: inline-block;
    width: 250px;
    margin: 16px;
    padding: 16px;
    box-sizing: border-box;
}

.below-the-fold article {
    display: inline-block;
}

.below-the-fold img {
    display: inline-block;
    margin: 16px;
    padding: 16px;
    width: 200px;
}

.below-the-fold div {
    width: 500px;
}