p {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: #4242ea;
}

.classname:link {
  color: orange;
}

.footer-span {
  font-weight: 700;
}

.weather p {
  font-size: 40px;
}

.above-the-fold article {
  display: inline-block;
}

article.weather {
  width: 300px;
  border-color: gray;
  border-width: 2px;
  border-style: solid;
}

article.breaking-news {
  padding: 0 30px 0;
}

.breaking-news img {
  width: 200px;
}

.click-bait article {
  display: inline-block;
  width: 250px;
  margin: 16px;
  padding: 16px;
  box-sizing: border-box;
}

.below-the-fold img {
  display: inline-block;
  margin: 16px;
  padding: 16px;
  width: 200px;
}

.below-the-fold div {
  width: 500px;
}

#scroll-container {
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
}

#scroll-text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
